#forUsers .textbox{
	width: 100%;
	text-align: center;
	margin-top: 228px;
}
#forUsers .textbox h1{
	text-align: center;
	font-size: 43px;
	color:#fff;
	margin-bottom: 38px;
}
#forUsers .textbox p{
	text-align: center;
	font-size: 15px;
	color:#000;
	padding: 7.5px 0;
}
#words{
	position: relative;
	margin-top: 75px;
}
#words>div{
	margin-left: 30px;
	position: relative;
	vertical-align: top;
	margin-top: 90px;
	display: inline-block;
	width: 490px;
	/*height: 172px;*/
	padding: 31px 40px;
	background-color: #fff;
	border-radius: 10px;
}
#words>div:before{
	content:'◆';
	color: #fff;
	font-size: 100px;
	position: absolute;
	left: -30px;
	line-height: 204px;
}
#words>div>h1:nth-child(1){
	color:#41e0d8;
	position: absolute;
	font-size: 40px;
	top: 31px;
	left: 40px;
}
#words>div>h1:nth-child(2){
	color:#41e0d8;
	position: absolute;
	font-size: 40px;
	bottom: 10px;
	right: 40px;
}
#words>div>p{
	text-indent: 2em;
	padding: 7.5px 0;
}
#words>div>p:nth-child(7){
	color:#41e0d8;
	text-indent: 2em;
	padding: 7.5px 0;
}
