*{
	font-weight: lighter;
	font-size: 15px;
	/*font-family: 'Arial';*/
	margin: 0px;
}
h1{
	font-size: 43px;
}
body{
	width:100%;
}
body>div{

	width: 100%;
}
input{
	*-color:#fff;
}
#top,#forUsers{
	background-color: #41e0d8;
	height: 900px;
}
#whatYouGet{
	background-color: #262a34;
	height: 860px;
}
#emailSend{
	background-color: #262a34;
	height: 440px;
}
#footer{
	height: 290px;
}
.content{
	overflow: hidden;
	position: relative;
	/*border: 1px solid black;*/
	height: 100%;
	width:940px;
	margin:0 auto;
}